.formCadFunc {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: auto;
  max-width: 600px;
}


.container-btn-card-save {
  width: 100%;
  display: flex;
  justify-content: end;
}

.btn-cad {
  border: 1px solid transparent;
  padding: 8px;
  width: 30%;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.save {
  background-color: #049DD9;
  color: white;
  transition: all 0.5s;
}

.save:hover{
  background-color: white;
  color:#049DD9;
  border: 1px solid #049DD9;
}